.layout{
    height: 100vh;
}
.layout::before{
    content: '';
    position: absolute;
    background: url(../assets/ligthHouse.jpeg) no-repeat center center/cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
form{
    z-index: 0;
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}