<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="react-app" />
    <title>react-app</title>
    <!-- <script type="text/javascript" src="vendor.dll.js"></script> -->
    <!-- <% if (process.env.NODE_ENV === 'development') { %>
    <script src="http://localhost:8097"></script>
    <% } %> -->
    <!-- <script src="http://localhost:8097"></script> -->
    <style>
      .trans {
        width: 100px;
        height: 100px;
        background-color: skyblue;
        color: white;
        transition: all 0.5s;
      }
      .active {
        background-color: red;

        transform: translateX(20px);
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <div id="layout" style="height: 100vh"></div>
    <div class="trans">trans</div>
    <script></script>
  </body>
</html>
