<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="react-app" />
    <title>react-app</title>
    <script type="text/javascript" src="../dist/vendor.dll.js"></script>
    <!-- <% if (process.env.NODE_ENV === 'development') { %>
    <script src="http://localhost:8097"></script>
    <% } %> -->
    <!-- <script src="http://localhost:8097"></script> -->
  </head>
  <body>
    <div id="layout"></div>
    <div id="test"></div>
    <script></script>
  </body>
</html>
