<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="react-app" />
    <title>react-app</title>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://developer.mozilla.org/static/media/Inter.var.c2fe3cb2b7c746f7966a.woff2"
    />

    <!-- <script type="text/javascript" src="vendor.dll.js"></script> -->
    <!-- <% if (process.env.NODE_ENV === 'development') { %>
    <script src="http://localhost:8097"></script>
    <% } %> -->
    <!-- <script src="http://localhost:8097"></script> -->
  </head>
  <body>
    <div id="layout" style="height: 100vh"></div>
  </body>
</html>
