
<<<<<<< HEAD
.root {
  :global {
    .my_button{
      text-align: center;
      background: red;
    }
  }
  .my_button{
    text-align: center;
    background: red;
  }
=======
.logo{
  height: 65px;
  background: url(./assets/ldr-logo.jpeg) no-repeat center center/cover; 
>>>>>>> 0fbe137c05d4090f9ad9905c09ec270bada403ba
}